<div class="row">
  <div class="col-md-4" *ngFor="let a of listAlbums">
    <div class="card" style="width: 18rem;">
      <img [src]="a.coverPicture" class="card-img-top" alt="...">
      
      <div class="card-body">
        <button class="btn btn-warning" (click)="onAlbumClick(a.id)">{{ a.title }}</button>
        <button class="btn btn-warning" (click)="deleteAlbums(a.id)">Delete</button>
      </div>
    </div>
    <app-list-photos *ngIf="selectedAlbumId === a.id" [idAlbum]="selectedAlbumId"></app-list-photos>
  </div>
</div>